<<<<<<< HEAD
.navbar .nav-link{
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.navbar .nav-item.active {
	border-left: #444 3px solid;
}

.carousel-item {
	height: 450px;

}

.carousel-image-1 {
	background: url('banner.jpg');
	background-size: cover;
}

#home-heading {
	position: relative;
	min-height: 200px;
	background: url(./images/lights.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
}

.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);  
}

#container {
	background-color: rgba(249,17,17,0.5);
	width: 300px;
	margin: auto;
	
}

.w3_agile_facebook: hover{
	background:#3b5998;
	border-color:#3b5998;
=======
body {
	background-color: #FEF9E7;
}

.table {
  border: 1px solid black;
  width: 50%;
  background-color: lightgrey;
}

th, td {
	border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

h3{
	color: blue;
}

.projects {
	background-color: moccasin;
}

.info{
	position: center;
}




/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #6a5acd;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a wine background color to the cancel button */
.form-container .cancel {
  background-color: #9B2309 ;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
>>>>>>> 29464293f044f5c64bf82e85ea33c9fcc7ed87a2
